.b{
    border: 1px solid red;
}

.center{
    display:block;
    margin:auto;
}

.bottom-border{
    border-bottom: 1px solid #e6e6e6;
}

.header-margins{
    margin-top: 12px;
    margin-bottom: 12px;
}

.form-control:focus{border-color: #999999;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

.my-autocomplete{
    width:700px !important;
    height: 70px;
}


.my-image{
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.my-text{
    font-style: bold;
    font-family: sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.my-right{
    display:block;
    margin:auto;
    margin-left: 90%;
}
