.main-form {
    max-width: 350px;
    margin: auto;
    margin-top: 50px;
    //border: 3px solid red;
}

.title{
    margin: auto;
    margin-top: 50px;
    max-width: 350px;
    display: block;
   // border: 3px solid red;
}

.myrow{
    //border: 3px solid green;
}

.mycol{
   // border: 3px solid purple;
}

.register{
    height: 40px;
    margin: auto;
    display: flex;
    margin-top: 10px;
    //border: 2px solid green;
    text-align: center;
}