.image{
    max-height: 300px;
    max-width: 300px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.mask{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}