<app-header></app-header>
<div class="container">
  <div class="row" style="margin-top: 150px;">
    <div class="col-md-6">
          <div class="my-container image-upload">
              <label for="file-input">
                  <img [src]="imgSrc" class="image center"/>
                  <img src="../../assets/images/mask.png" class="center mask"/>
              </label>
              <input id="file-input" type="file" (change)="setFiles($event)" style="width:200px"/>
          </div>
          <p class="text-secondary text-center bold image-label">Click image to change profile picture</p>
    </div>
    <div class="col-md-6" style="height: 320px;">
      <form (ngSubmit)="changeEmail(emailForm)" style="margin-top: 50px; margin-left: 70px;" #emailForm = "ngForm" class="">
        <label for="email">Email: </label>
        <input required class="form-control" type="email" id="email" name="email" ngModel>
        
        <button type="submit" [disabled]="!emailForm.form.valid" class="btn btn-default" style="margin-top: 10px;">Change email</button>
      </form>
      <br>
      <form (ngSubmit)="changePassword(passwordForm)" style="margin-left: 70px;" #passwordForm = "ngForm">
        <label for="password">Password: </label>
        <input class="form-control" required type="password" name="password" ngModel>
        
        <button type="submit" [disabled]="!passwordForm.form.valid" class="btn btn-default" style="margin-top: 10px;">Change password</button>
      </form>
    </div>
  </div>
</div>
