.b{
    border: 1px solid red;
}

.top-panel{
    width: 700px;
    height: 60px;
}

.my-image{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.my-container{
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    background-color: #ffffff;
}

.my-username{
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.center{
    display:block;
    margin:auto;
}

.image-panel{
    max-width: 700px;
    max-height: 700px;
    margin: auto;
    display: block;
}

.my-image-container{
    background-color: #e6e6e6;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 10px;
}

.my-line{
    border-bottom: 1px solid #e6e6e6;
    margin: 10px;
}

.my-input{
background-color: rgba(0,0,0,0);
color: black;
border: none;
box-shadow: none;
-webkit-box-shadow: none;
outline: none;
width: 680px;
height: 40px;
margin-bottom:10px;
}

.story-container{
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 300px;
    margin: auto;
    margin-top: 70px;
    background-color: #ffffff;
}