<div class="container">
  <div class="row">
    <div class="col mycol">
      <img src="../../assets/images/my_raf_logo.png" class="title" alt="logo" height="80" width="320">
    </div>
  </div>
  <div class="row">
      <form class="main-form b-green" (ngSubmit)="register()" #f="ngForm">
        <div class="form-group ">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required
            email ngModel #email="ngModel" (ngModelChange)="onEmailChange()" [ngClass]="{'not-valid': email_taken}">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
          <span class="help-block" *ngIf="email_taken">Account with this email already exists</span>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" [ngClass]="{'not-valid': username_taken}" id="username" name="username" placeholder="Username" required ngModel #username="ngModel" (ngModelChange)="onUsernameChange()">
          <span class="help-block" *ngIf="!username.valid && username.touched">Please enter username</span>
          <span class="help-block" *ngIf="username_taken">Username already taken, please choose another one</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required ngModel password #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter password</span>
          <br>
          <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm password"
          required ngModel password #confirmpassword="ngModel">
          <span class="help-block" *ngIf="password.value != confirmpassword.value && password.valid && password.touched">Passwords do not match</span>
        </div>
          <button type="submit"  [disabled]="!f.valid || username_taken || email_taken || !passwords_match" class="btn btn-primary">Register</button>
          <div class="row login">
                  <label class="label-sm " style="vertical-align: middle;" >Have an account?</label>
                  <a href="/login" style="margin-left: 5px;">Log in</a>
          </div>
          <p class="register-success" *ngIf="register_success">Registration is almost complete, please confirm your email before logging in.</p>
      </form>
  </div>
</div>
